body {
    background-color: rgb(0, 91, 136);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 15px;
}

header {
    background-color: rgb(0, 139, 209);
    padding: 10px;
    margin: -8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    z-index: 20;
}

.nav-buttons {
    background-color: rgb(0, 91, 136);
    border-radius: 20px;
    gap: 0px;
}

.nav-buttons button {
    background-color: rgba(0, 91, 136, 0);
    border-radius: 20px;
    padding: 10px;
    color: white;
    border: 0px;
}

.nav-buttons .active-button {
    background-color: white;
    color: black;

}

.hidden {
    display: none;
}

#cookie {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.05s ease;
}

#main-general .balance {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#version {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: rgba(255, 255, 255, 0.5);
}